{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center" style="color: blue; margin-top: 1rem;">ĐẶT VÉ MÁY BAY</h1>

{% if 'cart' in session %}

<table class="table">
    <tr>
        <th style="color:RoyalBlue ;">ID</th>
        <th style="color:RoyalBlue ;">Tuyến bay</th>
        <th style="color: RoyalBlue;">Giá vé</th>
   <td style="text-align: right; color:RoyalBlue ;">Số lượng vé</td>
    </tr>
    {% for c in session['cart'].values() %}
    <tr id="cart{{ c.id }}">
<td style="color: LightGray;">{{ c.id }}</td>
        <td style="color: LightGray;">{{ c.name }}</td>
        <td style="color: LightGray;">{{ "{:,.0f}".format(c.price) }} VNĐ</td>
        <td style="color: gold;">{{ seat_number }}</td>
        <td style="color:;PeachPuff">{{ ticket_quantity }}</td>

        <td>
            <input type="number" value="{{ c.quantity }}" class="form-control" onblur="updateCart({{ c.id }}, this)" />
        </td>
        <td>
            <button class="btn btn-danger" onclick="deleteCart({{ c.id }})">&times;</button>
        </td>
    </tr>
    {% endfor %}
</table>


<div class="alert alert-info">
    <h2>Tổng số vé muốn đặt: <span class="cart-counter">{{ cart_stats.total_quantity }}</span></h2>
    <h2>Tổng tiền phải trả: <span class="cart-amount">{{ "{:,.0f}".format(cart_stats.total_amount) }}</span> VNĐ</h2>
</div>

{% if current_user.is_authenticated %}
<div>
    <button class="btn btn-danger" onclick="pay()">Thanh toán</button>
</div>
{% else %}
<p>Vui lòng <a href="/login?next=/cart">ĐĂNG NHẬP</a> để thanh toán!</p>
{% endif %}
{% else %}
<div class="alert alert-info mt-1">KHÔNG có vé trong giỏ!</div>
{% endif %}

{% endblock %}





















